/* TableView styling */
.table-view {
linear-gradient(to bottom right, #3f51b5, #2196f3)
}
.table-view .column-header-background .label{
    -fx-text-fill: white;
    -fx-font-weight: normal;
    -fx-font-size: 12;
}
.table-view .column-header{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    /*-fx-font-size: 15;*/
}
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}
.table-view .column-header-background{
    -fx-background-color: #3f51b5;
    /*-fx-background-radius: 7px 7px 0px 0px;*/
    /*-fx-background-insets: 0 11px 0 0;*/
    /*-fx-padding: 0 0 5px 0;*/
}
.table-view .corner {
    -fx-background-color: transparent;
}
.table-view .column-header {
    -fx-background-color: transparent;
}
.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
    -fx-text-fill: white;
}
.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell: hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: red;
}
.table-row-cell: odd{
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell: even{
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell{
    -fx-background-color: transparent;
}
.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}
.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

